spring:
  thymeleaf: # Configuration to see template updates without needing to restart application
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: file:src/main/resources/templates/

  application:
    name: yaetApp

  datasource:
    url: jdbc:postgresql://localhost:5432/yaetDb
    username: pgUser
    password: pgPassword
    schema: public

  jpa:
    hibernate: validate
    properties:
      hibernate:
        format_sql: true
    show_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${google-client-id}
            clientSecret: ${google-client-secret}
            