<main class="flex justify-center gap-x-4">
    <!-- /* Budget is already on its own div so in the future I can show a category's expenses on a second div */ -->
    <div id="main-budget-content"
         class="flex items-center flex-col">
        <h1>Your budget</h1>
        <div id="budget-navigator"
             hx-swap="outerHTML"
             hx-target="main"
             class="w-120 grid grid-cols-3 gap-2 justify-items-center">
            <button class="w-[100px] px-3 py-1.5 bg-gray-200 hover:bg-gray-300 text-sm font-medium rounded-md transition"
                    th:hx-get="|/budget/${previous}|">
                ← Previous
            </button>

            <span th:text="${currentMonthText}"></span>

            <button class="w-[100px] px-3 py-1.5 bg-gray-200 hover:bg-gray-300 disabled:bg-gray-100 disabled:hover:bg-gray-100 text-sm font-medium rounded-md transition"
                    th:hx-get="|/budget/${next}|"
                    th:disabled="${isLastMonth}">
                Next →
            </button>
        </div>
        <div id="month-overview"
             class="grid grid-cols-2 gap-x-4 w-120 border rounded-lg p-2 my-2">
            <span>Total Income</span>
            <span th:text="|${monthIncome}€|"
                  class="text-right"></span>
            <span>Total Spent</span>
            <span th:text="|${monthSpent}€|"
                  class="text-right"></span>
            <span>BALANCE</span>
            <span th:text="|${monthBalance}€|"
                  class="text-right font-semibold"
                  th:classappend="${monthBalance.signum() >= 0 ? 'text-green-600' : 'text-red-600'}"></span>
        </div>
        <div id="budget-info"
             th:fragment="budget-info"
             class="grid grid-cols-3 gap-x-4 w-120"
             hx-target="main">
            <span th:text="Category"></span>
            <span th:text="Assigned"
                  class="text-center"></span>
            <span th:text="Balance"
                  class="text-center"></span>
            <hr class="col-span-3">
            <th:block th:each="budgetCategory: ${budgetCategories}">
                <span th:text="${budgetCategory.name}"
                th:hx-get="|/budget/${currentMonth}/${budgetCategory.categoryId}|"
                hx-target="#category-expenses"
                hx-swap="outerHTML"></span>
                <!-- /* For creating a new budget */ -->
                <input th:unless="${budgetCategory.id}"
                       th:name="amount"
                       th:value="0.00"
                       class="text-right cursor-pointer"
                       th:hx-post="|/budget/${currentMonth}/${budgetCategory.categoryId}/assignAmount|"
                       hx-trigger="change"
                       hx-include="this"
                       hx-target="#budget-info">
                <!-- /* For updating an existing budget */ -->
                <input th:if="${budgetCategory.id}"
                       th:name="amount"
                       th:value="${budgetCategory.amountAssigned}"
                       class="text-right cursor-pointer"
                       th:hx-put="|/budget/${currentMonth}/${budgetCategory.categoryId}/updateAmount|"
                       hx-trigger="change"
                       hx-include="this"
                       hx-target="#budget-info">
                <span th:text="|${budgetCategory.totalAmount}€|"
                      class="text-right"></span>
            </th:block>
            <hr class="col-span-3">

            <span th:text="TOTAL"></span>
            <span th:text="|${totalAssigned}€|"
                  class="text-right"></span>
            <span th:text="|${totalBalance}€|"
                  class="text-right"
                  th:classappend="${totalBalance.signum() >= 0 ? 'text-green-600' : 'text-red-600'}"></span>

            <div id="empty-budget-warning"
                 th:if="${missingBudgets}"
                 class="col-span-3 py-2 flex flex-col items-center">
                <span>Some categories still have no defined budget for this month</span>
                <span>Do you want to copy the amount assigned from last month?</span>
                <button class="my-1 px-3 py-1.5 bg-gray-200 hover:bg-gray-300 text-sm font-medium rounded-md transition"
                        th:hx-post="|/budget/copy-from-previous?month=${currentMonth}|"
                        hx-target="#budget-info"
                        hx-swap="outerHTML"
                >Copy from last month</button>
            </div>
        </div>
    </div>

    <style>
        #category-expenses.htmx-added {
            opacity: 0;
        }
        #category-expenses {
            opacity: 1;
            transition: opacity 0.2s ease-out;
        }
        #category-expenses.htmx-swapping {
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }
    </style>
    <!-- /* TODO This should probably go on its own file */ -->
    <div id="category-expenses"
         th:fragment="expenses">
        <div id="category-expenses-content"
             th:if="${expenses}"
            class="w-90">
            <span th:text="|Expenses for ${categoryName}"></span>
            <button onclick="document.getElementById('category-expenses-content').remove();">Close</button>
            <span th:text="${categoryDescription}"
                  class="block my-1"></span>
            <span th:if="${expenses.size() == 0}"
            class="block my-2">No expenses for this month</span>
            <div th:unless="${expenses.size() == 0}"
                 class="grid grid-cols-4 py-1">
                <th:block th:each="expense: ${expenses}">
                    <span class="col-span-2 truncate" th:text="${expense.payee}">Payee</span>
                    <span class="text-center" th:text="${expense.date}">Date</span>
                    <span class="text-right" th:text="|${expense.amount}€|">€0</span>
                </th:block>

                <span class="col-span-3 border-t" th:text="Total">Total</span>
                <span class="text-right border-t" th:text="|${categoryTotal}€|">0€</span>
            </div>
        </div>
    </div>
</main>