<main class="flex justify-center gap-x-4">

    <div class="grow-1 flex items-center flex-col">
        <div id="category-list"
             class="flex flex-col">
            <span class="text-xl">Your categories</span>
            <hr>
            <div id="categories"
                 class="flex flex-col">
                <span th:id="|cat_${category.id}|"
                      th:fragment="category-item"
                      th:each="category: ${categories}"
                      th:text="${category.name}"
                      class="cursor-pointer select-none rounded text-center hover:bg-gray-300 transition"
                      th:hx-get="|/category/${category.id}|"
                      hx-target="#category-details"
                      hx-swap="innerHTML">
                </span>
            </div>
            <script>
                var list = document.getElementById('categories');
                Sortable.create(list, {
                    animation: 150,
                    onEnd: function (evt) {
                        const categoryId = evt.item.id.substring(4); // substring the 'cat_' from the id
                        htmx.ajax('PUT', `/category/${categoryId}/reorder`, {
                            values: { newPosition: evt.newDraggableIndex }
                        });
                    }
                });
            </script>
        </div>
        <button class="mt-5"
                hx-get="/category-dialog"
                hx-swap="beforeend"
                hx-target="body"
                hx-on::after-request="document.getElementById('category-dialog').showModal();">New category</button>
    </div>
    
    <div id="category-details"
         class="flex items-center flex-col has-[div]:basis-7/10">
        <div id="category-detail-content"
             th:if="${request}"
             class="bg-gray-50 p-2 w-150">

            <div class="relative mb-2">
                <h3 class="text-center text-xl">Category details</h3>
                <button onclick="document.getElementById('category-detail-content').remove();"
                        class="absolute right-0 top-0 px-3 py-1.5 bg-gray-200 hover:bg-gray-300 text-sm font-medium rounded-md transition">X</button>
            </div>
            <hr>

            <div id="result-information">
                <div id="messages"
                     th:fragment="messages">
                    <div th:if="${messages}"
                         class="my-2 p-2 border rounded-lg border-cyan-600 bg-cyan-100">
                        <ul>
                            <li th:each="mes : ${messages}" th:text="${mes}">Information</li>
                        </ul>
                    </div>
                </div>
                <div id="errors"
                     th:fragment="errors">
                    <div th:if="${errors}"
                         class="my-2 p-2 border rounded-lg border-red-600 bg-red-100 text-red-500">
                        <ul>
                            <li th:each="err : ${errors}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                </div>
            </div>

            <form id="category-form"
                  hx-put="/category"
                  hx-target="#result-information"
                  hx-swap="outerHTML"
                  th:hx-select-oob="|#cat_${request.id}|"
                  th:object="${request}"
                  class="mt-3 grid grid-cols-2">
                <input hidden
                       id="id"
                       name="id"
                       th:field="*{id}">

                <label for="name">Name:</label>
                <input id="name"
                       name="name"
                       th:field="*{name}"
                       maxlength="50">

                <label for="description">Description:</label>
                <textarea id="description"
                          name="description"
                          th:field="*{description}"
                          rows="3"
                          maxlength="255"
                          class="resize-none"></textarea>

                <label for="type">Type:</label>
                <span id="type"
                      name="type"
                      th:text="*{type}"></span>

                <label for="default_amount">Default amount:</label>
                <input id="default_amount"
                       name="defaultAmount"
                       th:field="*{defaultAmount}"
                       pattern="[0-9]{1,6}(\.[0-9]{2})?"
                       title="Must be a valid amount in numeric format"
                       maxlength="50">

                <button type="reset">Reset</button>
                <button>Update</button>

            </form>
        </div>
    </div>

</main>