<dialog id="expense-dialog"
        onclose="this.remove();"
        class="p-3 flex flex-col justify-center rounded-xl p-6 shadow-xl backdrop:bg-black/50">
    <script>
        function closeDialog() {
            document.getElementById('expense-dialog').close();
        }
    </script>

    <style>
        #expense-dialog {

        /* Position visible dialog near the top of the window */
            margin-top:10vh;

            /* Sizing for visible dialog */
            width:80%;
            max-width:600px;

            /* Display properties for visible dialog*/
            border:solid 1px #999;
            border-radius:8px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
            background-color:white;
            padding:20px;

            /* Animate when opening */
            animation-name:zoomIn;
            animation-duration:150ms;
            animation-timing-function: ease;

            position: absolute;
            left: 50%;
            transform: translate(-50%);

        }
    </style>
    <div class="mb-2">
        <h3 class="text-center">Payment details</h3>
        <button onclick="closeDialog();"
                class="absolute right-0 top-0 m-2 px-3 py-1.5 bg-gray-200 hover:bg-gray-300 text-sm font-medium rounded-md transition">X</button>
    </div>

    <hr>

    <form id="newExpenseForm"
          th:fragment="expense-form"
          th:object="${request}"
          class="mt-3 grid grid-cols-2 max-w-sm self-center"
          hx-put="/expense-dialog"
          hx-target="this"
          hx-swap="outerHTML">
        <div id="messages"
             class="col-span-2"
             th:fragment="messages">
            <div th:if="${messages}"
                 class="mb-3 p-2 border rounded-lg border-cyan-600 bg-cyan-100">
                <ul>
                    <li th:each="mes : ${messages}" th:text="${mes}">Information</li>
                </ul>
            </div>
        </div>
        <div id="errors"
             class="col-span-2"
             th:fragment="errors">
            <div th:if="${errors}"
                 class="mb-3 p-2 border rounded-lg border-red-600 bg-red-100 text-red-500">
                <ul>
                    <li th:each="err : ${errors}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
        </div>
        <input hidden
               id="id"
               name="id"
               th:field="*{id}">
        <label for="category">Category:</label>
        <select id="category"
                name="categoryId"
                th:value="${expense.category.id}"
                disabled>
            <option th:each="c : ${categories}"
                    th:value="${c.id}"
                    th:text="${c.name}"
                    th:selected="${c.id == expense.category.id}">
            </option>
        </select>
        <label for="payee">Payee:</label>
        <input id="payee"
               name="payee"
               th:field="*{payee}"
               maxlength="50">
        <label for="date">Date:</label>
        <input id="date"
               name="date"
               type="date"
               th:value="*{date}"
               th:min="${minDate}"
               th:max="${maxDate}">
        <label for="amount">Amount:</label>
        <input id="amount"
               name="amount"
               th:field="*{amount}"
               class="text-right">

        <label for="comment">Comment:</label>
        <textarea id="comment"
                  name="comment"
                  th:field="*{comment}"
                  rows="3"
                  maxlength="255"
                  class="resize-none"></textarea>
        
        <button type="reset">Reset</button>
        <button>Update</button>
    </form>
</dialog>