<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>YAET</title>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.3/dist/htmx.js}"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        main.htmx-request {
            opacity: 0.3;
        }
    </style>
</head>

<header class="grid grid-cols-1">
    <div id="title"
         class="justify-center text-center">
        <h1 class="text-6xl">YAET</h1>
        <h2 class="text-4xl">Yet Another Expense Tracker</h2>
    </div>

    <!--/* Navigation menu */-->
    <div id="nav-bar"
         hx-target="main"
         hx-swap="outerHTML"
         class="pb-3">

        <span hx-get="/expenses"
              class="hover:bg-gray-300">Current Month</span>
        <span hx-get="/expenses/new"
              class="hover:bg-gray-300">Add Movement</span>
    </div>
</header>

<body>
    <!--/* A the main views must start with a main element, since they will be outer-swapped */-->
    <!--/* This is done so each view can define it's own layout (flex, grid, etc.) independently */-->
    <main>
        <h3>Welcome to YAET!</h3>
        <p>This site is born from the mix of a personal necessity and curiosity.</p>
        <p>I am a software developer that was looking to learn the ins and outs of the trade in a nonwork environment. I wanted to be able to test, play and tweak with the tools of the trade without the pressures and requirements that come when developing for a client.</p>
        <p>I was also looking for a tool to help me manage my finances. I had used some pay tools in the past, but I refused to pay for a glorified excel spreadsheet*. At the same time, the tools that I found online were not to my liking.</p>
        <p>So in the end I decided to kill two birds with one stone and this is the result!</p>
    </main>
</body>