<main class="flex justify-center">

    <div class="flex flex-col">

        <div id="tabs">
            <button class="tablinks p-1 bg-gray-200" onclick="showTab(event, 'addExpense')">Expense</button>
            <button class="tablinks p-1" onclick="showTab(event, 'addIncome')">Income</button>
        </div>

        <div class="border border-gray-400 p-2 w-3xl">
            <div id="addExpense"
                 class="tabContent flex flex-row gap-x-5"
                 th:fragment="addExpense">

                <div class="w-sm">

                    <!--/* Validation or information messages */-->
                    <div id="messages"
                         th:if="${message}">
                        <span th:text="${message}"></span>
                    </div>

                    <!--/* New expense form */-->
                    <form id="newExpenseForm"
                          class="grid grid-cols-3 max-w-sm"
                          hx-post="/new/expense"
                          hx-target="#addExpense"
                          hx-swap="outerHTML"
                          hx-ext="json-enc">

                        <label for="category-input">Category:</label>
                        <select id="category-input"
                                name="categoryId"
                                class="col-span-2"
                                th:value="${expense.categoryId}"
                                required>
                            <option value="">Select a category</option>
                            <option th:each="c : ${categories}"
                                    th:value="${c.id}"
                                    th:text="${c.name}"
                                    th:selected="${c.id == expense.categoryId}">
                            </option>
                        </select>

                        <label for="payeeInput">Payee:</label>
                        <input id="payeeInput"
                               name="payee"
                               type="text"
                               th:value="${expense.payee}"
                               class="col-span-2"
                               maxlength="50"
                               required>

                        <label for="amountInput">Amount:</label>
                        <input id="amountInput"
                               name="amount"
                               type="text"
                               pattern="[0-9]{1,6}(\.?[0-9]{2})"
                               title="Must be a valid amount in numeric format"
                               th:value="${expense.amount}"
                               class="col-span-2"
                               required>

                        <label for="dateInput">Date:</label>
                        <input id="dateInput"
                               name="date"
                               type="date"
                               th:value="${expense.date}"
                               class="col-span-2 justify-self-end"
                               required>

                        <label for="commentInput">Comment:</label>
                        <textarea id="commentInput"
                                  name="comment"
                                  type="comment"
                                  th:value="${expense.comment}"
                                  rows="3"
                                  maxlength="255"
                                  class="col-span-2 resize-none"></textarea>

                        <button type="submit"
                                class="col-span-3 justify-self-center">Add</button>

                    </form>
                </div>

                <div id="lastExpenses"
                     class="grid px-1 bg-gray-100">
                    <span class="font-semibold text-center pb-1">Last expenses</span>
                    <hr>
                    <div class="grid grid-cols-4 max-w-sm">
                        <th:block th:each="expense: ${lastExpenses}">
                            <span th:text="${expense.payee}"
                                  class="col-span-2"></span>
                            <span th:text="${expense.date}"
                                  class="text-center"></span>
                            <span th:text="|${expense.amount}€|"
                                  class="text-right"></span>
                        </th:block>
                    </div>
                </div>
            </div>

            <!-- /* TODO Find better way to define initial visiblity */ -->
            <div id="addIncome"
                 class="tabContent flex flex-row gap-x-5"
                 th:classappend="${incomeMessage == null ? 'hidden' : ''}"
                 th:fragment="addIncome">

                <div class="max-w-sm">

                    <!-- /* Validation or information messages */ -->
                    <div id="incomeMessages"
                         th:if="${incomeMessage}">
                        <span th:text="${incomeMessage}"></span>
                    </div>

                    <!--/* New expense form */-->
                    <form id="newIncomeForm"
                          class="grid grid-cols-2 max-w-sm"
                          hx-post="/new/income"
                          hx-target="#addIncome"
                          hx-swap="outerHTML"
                          hx-ext="json-enc">

                        <label for="payerInput">Payer:</label>
                        <input id="payerInput"
                               name="payer"
                               type="text"
                               th:value="${income.payer}"
                               required>

                        <label for="incomeAmountInput">Amount:</label>
                        <input id="incomeAmountInput"
                               name="amount"
                               type="text"
                               pattern="[0-9]{1,6}(\.?[0-9]{2})"
                               title="Must be a valid amount in numeric format"
                               th:value="${income.amount}"
                               required>

                        <label for="incomeDateInput">Date:</label>
                        <input id="incomeDateInput"
                               name="date"
                               type="date"
                               th:value="${income.date}"
                               required>

                        <button class="col-span-2">Add</button>

                    </form>
                </div>

                <div id="lastIncomes"
                     class="grid px-1 bg-gray-100">
                    <span class="font-semibold text-center pb-1">Last incomes</span>
                    <hr>
                    <div class="grid grid-cols-4 max-w-sm">
                        <th:block th:each="income: ${lastIncomes}">
                            <span th:text="${income.payer}"
                                  class="col-span-2"></span>
                            <span th:text="${income.date}"
                                  class="text-center"></span>
                            <span th:text="|${income.amount}€|"
                                  class="text-right"></span>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showTab(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.add("hidden");
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("bg-gray-200");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).classList.remove("hidden");
            evt.currentTarget.classList.add("bg-gray-200");
        }
    </script>

</main>

